- content_for :title do
  Things to see and do

%p Artists and free-spirits mingle with the rich and famous on this blissful island, a haven of beautiful beaches, gastronomical treasures and small wineries. Browse the dozens of art galleries and craft stores of the Waiheke Arts Trail between dips in the emerald waters. Soar above the landscape on a chartered scenic flight, then refuel your engine with a casual beachfront café meal or an upscale, multi-course affair. Waiheke boasts several boutique vineyards, perfect for sipping, sampling and savouring New Zealand’s fine wines.

.block
  %h2 Stony Batter

  = image_tag 'stoney_batter.jpg', class: 'right'
  %p
    = link_to 'Stony Batter', 'http://www.doc.govt.nz/conservation/historic/by-region/auckland/hauraki-gulf-islands/stony-batter-historic-reserve-waiheke-island/'
    is a historic defence installation at the northeastern end of Waiheke Island, Auckland, New Zealand. It is sited within a 50 acre scenic reserve of the same name, owned by the New Zealand Department of Conservation (DOC). The park serves double duty as a historical and nature reserve, containing unusual rock formations, three significant bush blocks and three concrete gun emplacements with an extensive tunnel system, reputed to be the largest in New Zealand. Take your torch.

.block.space
  %h2 Connells Bay Sculpture Park

  = image_tag 'connells_bay.jpg', class: 'right'
  %p
    The
    = link_to 'Connells Bay Sculpture Park', 'http://www.connellsbay.co.nz/sculpture_park_overview.html'
    hosts a private collection of large scale sculpture by New Zealand artists bringing art and nature together on a two hour guided walk in a beautiful coastal landscape. Be sure to book ahead.

.block.space
  %h2 Walking and Biking

  = image_tag 'walking_and_biking.jpg', class: 'right'
  %p
    Waiheke Island features extensive walking trails and plenty of bike hire outlets. See the
    = link_to 'Waiheke Walk Series', 'http://www.aucklandcouncil.govt.nz/EN/parksfacilities/walkingtracks/Pages/waihekewalkseries.aspx'
    to plan your route.

.block
  :markdown
    ## Beaches
  
    There are many scenic beaches, including:
  
     - **Oneroa Beach** – The main beach, on the northern side of the town of Oneroa.
     - **Little Oneroa Beach** – A small secluded beach at the east end of Oneroa Beach, separated by a protruding cliff wall.
     - **Palm Beach** – Similar in shape to Oneroa Beach (complete with protruding cliff wall at the east end that separates a small private beach in Boatshed Bay), it gets its name from the mature phoenix palms at the east end.
     - **Little Palm Beach** – A small clothes-optional beach at the west end of Palm Beach.
     - **Blackpool Beach** – The south-facing counterpart of Oneroa Beach, lining Blackpool and popular for kayaking and windsurfing.
     - **Surfdale Beach** – A zoned-in beach on the southern side of Surfdale, separated from Blackpool Beach by a small protruding peninsula, which has a scenic unsealed route called The Esplanade linking the beaches. Popular for kitesurfing.
     - **Onetangi Beach** – A 1.87 km long, north-facing beach lining Onetangi. For many years it has been the site of the Onetangi Beach Races. Its western end, often inaccessible at high tide, is clothes-optional. It has sandcastle building contests annually; participants have a few hours to build their creations in soft sand that is free of shells and suitable for digging.
     - **Cactus Bay** – Considered by many Waihekeans as the most perfect beach and, with nearby Garden Cove, a romantic place for picnicking. The beach is accessible only by boat or kayak, as its land access was blocked off by a private landowner.

.block
  %p
    For further suggestions please check out the
    = link_to 'Waiheke Auckland', 'http://waiheke.aucklandnz.com/'
    website. Particularly their
    = link_to 'activities', 'http://waiheke.aucklandnz.com/things-to-do/activities.html'
    and
    = link_to 'sightseeing', 'http://waiheke.aucklandnz.com/things-to-do/sightseeing.html'
    pages. Also, check out the
    = link_to 'Waiheke Island Trip Advisor', 'http://www.tripadvisor.com/Tourism-g285729-Waiheke_Island_North_Island-Vacations.html'
    page.