%h1 Where to stay
%p The bridal party will be staying at "here", Onetangi. We will be providing a shuttle to and from the wedding venue. Leaving from Onetangi and picking up people on the way to Mudbrick.
%p Onetangi is a smaller area of Waheke with the nicest beach and great views. It is about 20 minutes drive from Oneroa, the heart of Waiheke.
%p For ideas on accomodation check out the websites below. If you have any questions or need any help arranging things please feel free to talk to Craig or Mark.
%p Holiday Houses on the Island:
%p
  %ul
    %li= link_to "http://www.waihekeholidayhomes.co.nz/", "http://www.waihekeholidayhomes.co.nz/"
    %li= link_to "http://www.bookabach.co.nz/", "http://www.bookabach.co.nz/"
    %li= link_to "http://www.bemyguestwaiheke.com/", "http://www.bemyguestwaiheke.com/"
    %li= link_to "http://www.holidayhouses.co.nz/Waiheke-Island.asp", "http://www.holidayhouses.co.nz/Waiheke-Island.asp"
    %li= link_to "http://www.bachcare.co.nz/", "http://www.bachcare.co.nz/"
    %li= link_to "http://www.holidayhomes.co.nz", "http://www.holidayhomes.co.nz"
    %li= link_to "https://www.luxuryholidayhouses.com/", "https://www.luxuryholidayhouses.com/"
    %li= link_to "http://www.visitwaiheke.co.nz/", "http://www.visitwaiheke.co.nz/"

%p Motels, Hotels & Boutique Accommodation in Onetangi
%p
  %ul
    %li= link_to 'Onetangi Beach Apartments', 'http://www.onetangi.co.nz'
    %li= link_to 'The Sands', 'http://www.thesandswaiheke.co.nz'


%p Motels, Hotels & Boutique Accommodation other than Onetangi
%p
  %ul
    %li= link_to 'Midway Motel', 'http://www.waihekemotel.co.nz'
    %li= link_to 'Waiheke Island Resort', 'http://www.waihekeresort.co.nz'
    %li= link_to 'Winemakers Loft', 'http://www.winemakersloft.co.nz'
    %li= link_to 'Watermark Studios', 'http://www.watermarkwaiheke.com'
    %li= link_to 'Waiheke Central', 'http://www.waihekecentral.co.nz'
    %li= link_to 'Le Chalet Waiheke', 'http://www.lechalet.co.nz'
    %li= link_to 'Palm Beach Lodge', 'http://www.palmbeachlodge.co.nz'
    %li= link_to 'City Lights', 'http://www.waihekedreams.co.nz'
    %li= link_to 'Oneroa Bay Villas', 'http://www.oneroabayvila.co.nz'
    %li= link_to 'The Moorings', 'http://www.themoorings.gen.nz'
    %li= link_to 'Cable Bay Views', 'http://www.cablebayviews.co.nz'
    %li= link_to 'Aquasands Apartments', 'http://www.aquasands.co.nz'

