- content_for :title do
  Where to stay

%h1 Where to stay
%p As it is a public holiday the last ferry returns to Auckland at 11:15 pm and as the wedding doesn't conclude until 1:00 am you will need to stay on the island. 
%p The bridal party will be staying at 1A Pah Road, Onetangi. We will be providing a shuttle to and from the wedding venue. Leaving from Onetangi and picking up people on the way to Mudbrick.
%h2 Onetangi
%p The two kilometre stretch of white sand on Onetangi Beach makes this settlement a popular holiday destination. The beach is perfect for water activities, including windsurfing, swimming and the occasional surf. The beach is lined with houses and has some great cafes and restaurants.
%h2 Oneroa
%p Facing the sunny north, Oneroa is a popular visitor spot with a busy and vibrant village. There are good accommodation options, quaint cafes and craft shops. Oneroa also offers stunning views of the white-sand bay below, and towards Coromandel Peninsula in the distance.
%h2 Palm Beach
%p Palm Beach is a sun-drenched, sheltered spot with calm waters and white sand. At certain times of year, phosphorescence fills the bay making a stunning display in the water. Set in native bush, Palm Beach has a restaurant, beach shop and playground, and is close to Oneroa village.
%h2 Little Oneroa
%p This picturesque sheltered bay boasts white sands, shady pohutukawa trees and calm waters ideal for family swimming. A popular mooring bay, Little Oneroa is within walking distance of independent shops, restaurants and the bustling centre of Oneroa village.
%p For ideas on accomodation check out the websites below. If you have any questions or need any help arranging things please feel free to talk to Craig or Mark.
%p Holiday Houses on the Island:
%p
  %ul
    %li= link_to 'Waiheke Holiday Homes', 'http://www.waihekeholidayhomes.co.nz/'
    %li= link_to 'Book a Bach', 'http://www.bookabach.co.nz/'
    %li= link_to 'Be My Guest Waiheke', 'http://www.bemyguestwaiheke.com/'
    %li= link_to 'Holiday Houses', 'http://www.holidayhouses.co.nz/Waiheke-Island.asp'
    %li= link_to 'Bach Care', 'http://www.bachcare.co.nz/'
    %li= link_to 'Holiday Homes', 'http://www.holidayhomes.co.nz'
    %li= link_to 'Luxury Holiday Houses', 'https://www.luxuryholidayhouses.com/'
    %li= link_to 'Visit Waiheke', 'http://www.visitwaiheke.co.nz/'

%p Motels, Hotels & Boutique Accommodation in Onetangi
%p
  %ul
    %li= link_to 'Onetangi Beach Apartments', 'http://www.onetangi.co.nz'
    %li= link_to 'The Sands', 'http://www.thesandswaiheke.co.nz'


%p Motels, Hotels & Boutique Accommodation other than Onetangi
%p
  %ul
    %li= link_to 'Midway Motel', 'http://www.waihekemotel.co.nz'
    %li= link_to 'Waiheke Island Resort', 'http://www.waihekeresort.co.nz'
    %li= link_to 'Winemakers Loft', 'http://www.winemakersloft.co.nz'
    %li= link_to 'Watermark Studios', 'http://www.watermarkwaiheke.com'
    %li= link_to 'Waiheke Central', 'http://www.waihekecentral.co.nz'
    %li= link_to 'Le Chalet Waiheke', 'http://www.lechalet.co.nz'
    %li= link_to 'Palm Beach Lodge', 'http://www.palmbeachlodge.co.nz'
    %li= link_to 'City Lights', 'http://www.waihekedreams.co.nz'
    %li= link_to 'Oneroa Bay Villas', 'http://www.oneroabayvila.co.nz'
    %li= link_to 'The Moorings', 'http://www.themoorings.gen.nz'
    %li= link_to 'Cable Bay Views', 'http://www.cablebayviews.co.nz'
    %li= link_to 'Aquasands Apartments', 'http://www.aquasands.co.nz'
