- @rsvp ||= Rsvp.new

#rsvp_form
  %a{id: 'rsvp_form'}
  %h2 RSVP

  = form_for @rsvp do |f|
    - if @rsvp.errors.any?
      #error_explanation
        %h2= "#{pluralize(@rsvp.errors.count, "error")} prevented this rsvp from being saved:"
        %ul
          - @rsvp.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :names
      = f.text_field :names, placeholder: "Names"
    .field
      = f.label :email
      = f.text_field :email, placeholder: "Email"
    .field
      = f.label :mobile_number
      = f.text_field :mobile_number, placeholder: "Mobile number"
    .field
      %span.description
        Wedding
      %span.response.positive
        = f.radio_button :wedding_response, "comming"
        = f.label :wedding_response_comming, "We're coming"
      %span.response.negative
        = f.radio_button :wedding_response, "not_comming"
        = f.label :wedding_response_not_comming, "We're not"
    .field
      %span.description
        BBQ
      %span.response.positive
        = f.radio_button :bbq_response, "comming"
        = f.label :bbq_response_comming, "We're coming"
      %span.response.negative
        = f.radio_button :bbq_response, "not_comming"
        = f.label :bbq_response_not_comming, "We're not"
    .field
      = f.label :message
      = f.text_area :message, placeholder: "Message"
    .actions
      = f.submit "RSVP"
