!!!
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      = yield :title
      \- Mark and Craig's Wedding

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js", "data-turbolinks-track" => true
      = javascript_include_tag "//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js", "data-turbolinks-track" => true
      = javascript_include_tag "//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js", "data-turbolinks-track" => true
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js", "data-turbolinks-track" => true
        
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    /[if lt IE 9]
      = stylesheet_link_tag "ie8minus", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr", "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrapper
      = render 'layouts/messages'
      #heading
        %h2 FEBRUARY 6, 2015
        %h1 Craig and Mark
        %h2 WELCOME TO OUR WEDDING WEBSITE!
      #rest
        #sidebar
          %ul
            %li= link_to 'Welcome',               root_path(anchor: 'heading_text')
            %li= link_to 'Wedding Events',        wedding_events_path(anchor: 'heading_text')
            %li= link_to 'Getting to the island', getting_to_the_island_path(anchor: 'heading_text')
            %li= link_to 'Getting around',        getting_around_path(anchor: 'heading_text')
            %li= link_to 'Where to stay',         where_to_stay_path(anchor: 'heading_text')
            %li= link_to 'Gift register',         gift_register_path(anchor: 'heading_text')
            %li= link_to 'Things to see and do',  things_to_see_and_do_path(anchor: 'heading_text')
            %li= link_to 'RSVP',                  root_path(anchor: 'rsvp_form')
        #content
          %a{id: 'heading_text'}
          %h1= yield :title
          = yield

    /[if lt IE 9]
      = javascript_include_tag "rem_polyfill", "data-turbolinks-track" => true