!!!
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      = yield :title
      \- Mark and Craig's Wedding
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr", "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrapper
      #heading
        %h1 Craig and Mark
      #rest
        #sidebar
          %ul
            %li= link_to 'Welcome',               root_path
            %li= link_to 'Event Details',         event_details_path
            %li= link_to 'Getting to the island', getting_to_the_island_path
            %li= link_to 'Getting around',        getting_around_path
            %li= link_to 'Where to stay',         where_to_stay_path
            %li= link_to 'Gift register',         gift_register_path
            %li= link_to 'Things to see and do',  things_to_see_and_do_path
            %li= link_to 'RSVP',                  root_path(anchor: 'rsvp_form')
        #content
          = yield